<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://lib.baomitu.com/element-ui/2.13.2/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://lib.baomitu.com/element-ui/2.13.2/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="container" style="width: 100%;height: 100%">

    <el-container>
        <el-tree :data="treeData" lazy :props="treeProps" :load="loadElements">
            <span slot-scope="{node,data}">
                <div v-if="data.eleType===2">
                    <el-popover trigger="hover" placement="right" :open-delay="400">
                        <span @click="reNameDir(data.id)">
                            <el-dropdown-item>重命名文件夹</el-dropdown-item>
                        </span>
                        <span @click="addFile(data.id)">
                            <el-dropdown-item>新增文件</el-dropdown-item>
                        </span>
                        <span @click="delDir(data.id)">
                            <el-dropdown-item>删除此文件夹</el-dropdown-item>
                        </span>
                        <span class="el-icon-folder" slot="reference">
                            {{node.label}}
                        </span>
                    </el-popover>
                </div>
                <div v-else>
                     <el-popover trigger="hover" placement="right" content="测试" title="标题">
                            <span class="el-icon-document" slot="reference">{{node.label}}</span>
                    </el-popover>
                </div>
            </span>
        </el-tree>
        <el-dialog title="新增文件" :visible.sync="dialogUpload">
            <el-form>
                <el-form-item>
                    <el-upload :auto-upload="false" :name="fileName" :action="dialogUploadPath"
                               :on-change="fileChoose">
                        <el-button slot="trigger">选择文件</el-button>
                    </el-upload>
                </el-form-item>
            </el-form>
        </el-dialog>

    </el-container>

</div>

</body>
<script>
    const vue = new Vue({
        el: '#container',
        data: {
            fileName: "",
            dialogUpload: false,
            dialogUploadPath: "",
            treeProps: {
                label: "name",
                children: "",
                isLeaf: function (data) {
                    return data.eleType === 1;
                }
            },
            treeData: []
        },
        methods: {
            //懒加载元素
            loadElements: function (node, resolve) {
                let dirId = node.data.id;
                console.log(node);
                dirId = dirId ? dirId : 1;
                this.getElements(dirId, resolve);
            },
            //发送请求获取数据
            getElements: function (dirId, resolve) {
                return axios.get("/fileManage/data/dir/" + dirId + "/elements").then(function (res) {
                    console.log(res.data);
                    resolve(res.data);
                });
            },
            dirRightClick: function (a, b, c, d) {
                console.log(a + "\n" + b + "\n" + c + "\n" + d);
                //this.visible = !this.visible;
                this.triggerH = "click";
            },
            //删除文件夹
            delDir: function (dirId) {

            },
            //重命名文件夹
            reNameDir: function (dirId) {

            },
            //新增文件
            addFile: function (dirId) {
                this.dialogUpload = true;
                this.dialogUploadPath = '/fileManage/file/dir/' + dirId;
            },
            //重命名文件
            renameFile: function (fileId) {

            },
            //删除文件
            delFile: function (fileId) {

            },
            fileChoose: function (file, fileList) {
                this.fileName += file.name + "; ";
                console.log("aaa");
            }
        },
        mounted: function () {
            //this.getElements(1, data => this.treeData = data);
        }
    });
</script>
</html>